{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <!-- Login start -->
    <div class="container">
        <div class="title">Вход</div>
        <div class="content">
            <form action="#" method="post" accept-charset="utf-8">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Логин</span>
                        <input type="text" name="login" id="inputLogin" placeholder="Введите логин" value="{{ last_username }}" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Пароль</span>
                        <input type="password" name="password" id="inputPassword" placeholder="Введите пароль" required>
                    </div>
                </div>
                {% if error %}
                    <div class="incorrect-credentials">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="button">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="submit" value="Войти">
                </div>
            </form>
        </div>
    </div>
    <!-- Login end -->
{% endblock %}
