{% extends 'base.html.twig' %}

{% block title %}Попробуйте позже{% endblock %}

{% block headernav %}
{% endblock %}

{% block profile %}
{% endblock %}

{% block main %}
    <!-- Error start -->
    <div class="error">
        <div class="wrapper">
            <div class="error__info">
                <h1 class="error__title">
                    К сожалению, произошла ошибка. Попробуйте позже
                </h1>
            </div>
        </div>
    </div>
    <!-- Error start -->
{% endblock %}
